* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Raleway;
    src: url("../fonts/raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: Ardeco;
    src: url("../fonts/ardeco/Ardeco.ttf") format("truetype");
}

:root {
    --color-bg: #ece8e4;
    --color-bg-lighter: #f6f3ef;
    --color-logo: #bdab9f;
    --color-text-main: #655952;
    --color-text-secondary: #80654e;
    --color-text-main-dark: #383227;
    --color-bg-dark: #2a271e;
}

body {
    font-family: 'Raleway', sans-serif;
    color: var(--color-text-main);
    background-color: var(--color-bg);
    max-width: 1620px;
    margin: 0 auto;
}

.container, .container-header, .container-footer {
    padding-left: 128px;
    padding-right: 128px;
}

.container {
    padding-top: 128px;
    padding-bottom: 128px;
}

.container-header {
    margin-top: 12px;
    margin-bottom: 12px;
}

.container-footer {
    padding-top: 64px;
    padding-bottom: 64px;
}


/*header*/

header {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    width: 80px;
    height: 80px;
    content: "";

    background: var(--color-logo);

    -webkit-mask-image: url("../img/logo/len_ceramic2_02.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header__nav-link {
    text-decoration: none;
    color: var(--color-text-main);
    margin-left: 1rem;
    margin-right: 1rem;
    white-space: nowrap;
}

.header__nav-link_dropdown::after {
    vertical-align: middle;
    content: "";
    display: inline-block;

    background: var(--color-text-main);
    width: 16px;
    height: 12px;
    -webkit-mask-image: url("../img/icons/arrows/list-arrow.svg");
    -webkit-mask-repeat: no-repeat;
}

.header__dropdown-container {
    margin-top: 8px;
}

.header__dropdown-menu {
    display: none;
    list-style: none;
    position: absolute;
    overflow: auto;
    background-color: var(--color-bg-lighter);
    padding: 16px;
}

.header__dropdown:hover .header__dropdown-menu {
    display: inline-block;
}

.header__dropdown-menu a {
    color: var(--color-text-main);
    text-decoration: none;
}

.header__dropdown-menu li + li {
    padding-top: 8px;
}

.header__dropdown-menu a:hover {
    color: var(--color-text-main-dark);
}

.header__user-icon {
    content: "";
    display: block;
    height: 32px;
    width: 32px;

    background: var(--color-text-main);
    background-size: 40px 40px;

    -webkit-mask-image: url("../img/icons/user-svg/user-minimalizm.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}




/*hero section*/

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(87, 71, 58)), url("../img/products/home.png");
    background-size: cover;
    background-position: center;
    /*height: calc(100vh - (80px + 24px));*/

    color: var(--color-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 64px;
}

.hero__title {
    font-family: Ardeco, serif;
    font-size: 96px;
    font-weight: lighter;
}

.hero__description {
    align-self: end;
    max-width: calc(100vw / 2);
    text-align: right;
    font-size: 24px;
}

/*about section*/

.about {
    display: grid;
    grid-template-areas:
      "quote img"
      "link img";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto max-content;
    column-gap: 4rem;
    row-gap: 32px;
}

.about__quote {
    font-size: 1.5rem;
    align-self: center;
}

.about__quote-author {
    margin-top: 24px;
    font-size: 2rem;
    font-weight: lighter;
    text-transform: uppercase;
}

.about__quote-author span {
    font-size: 1rem;
}

.about__photo {
    max-width: 100%;
    /*scale: 80%;*/
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 2;
    align-self: center;
}

.link {
    display: inline-block;
    color: var(--color-text-secondary);
    text-decoration: none;
    font-size: 1.8rem;
    padding: 16px;
    border: 1px solid;
}

.link:hover {
    background-color: #8cbbcd9e;
}

.about__link {
    justify-self: start;
    align-self: end;
}


.invitation {
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(87, 71, 58)), url("../img/products/home.png");
    background-size: cover;
    background-position: bottom;
    color: var(--color-bg);
    font-size: 64px;
    text-align: center;
}

.invitation p + p {
    margin-top: 64px;
}

.invitation__address {
    font-size: 2rem;
}

.invitation__address a {
    color: var(--color-bg);
    text-decoration: none;
}

.invitation__address a:hover {
    text-decoration: underline;
}

.invitation__link {
    color: var(--color-bg);
    margin-top: 96px;
    border-radius: 30px;
}

/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-bg-dark);
    color: var(--color-logo);
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer__contacts li + li {
    padding-top: 1rem;
}

.footer__contact-link {
    color: var(--color-logo);
    text-decoration: none;
}

.footer__contact-link:hover {
    text-decoration: underline;
}
