* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Raleway;
    src: url("../../../fonts/raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: Ardeco;
    src: url("../../../fonts/ardeco/Ardeco.ttf") format("truetype");
}

:root {
    --color-bg: rgb(236, 232, 228);
    --color-bg-lighter: #f6f3ef;
    --color-bg-op: rgba(236, 232, 228, 0.74);
    --color-logo: #bdab9f;
    --color-text-main: #655952;
    --color-text-main-op: rgba(101, 89, 82, 0.7);
    --color-text-secondary: #80654e;
    --color-text-main-dark: #383227;
    --color-bg-dark: #2a271e;
    --color-bg-teal: rgba(48, 133, 163, 0.37);
    --color-bg-text-teal: #3085A3FF;

    --padding-container: 128px;
}

body {
    font-family: 'Raleway', sans-serif;
    color: var(--color-text-main);
    background-color: var(--color-bg);
    max-width: 1620px;
    margin: 0 auto;
}

.container, .container-header, .container-footer {
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
}

.container {
    padding-top: var(--padding-container);
    padding-bottom: var(--padding-container);
}

.container-header {
    margin-top: 12px;
    margin-bottom: 12px;
}

.container-footer {
    padding-top: 64px;
    padding-bottom: 64px;
}


/*header*/

header {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    width: 80px;
    height: 80px;
    content: "";

    background: var(--color-logo);

    mask-image: url("../../../img/logo/len_ceramic2_02.png");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header__nav li {
    margin-left: 1rem;
    margin-right: 1rem;
}

.header__nav-link {
    text-decoration: none;
    color: var(--color-text-main);
    white-space: nowrap;
}

.header__nav-link_dropdown::after {
    vertical-align: middle;
    content: "";
    display: inline-block;

    background: var(--color-text-main);
    width: 16px;
    height: 12px;
    mask-image: url("../../../img/icons/arrows/list-arrow.svg");
    mask-repeat: no-repeat;
}

.header__dropdown-container {
    margin-top: 8px;
}

.header__dropdown-menu {
    display: none;
    list-style: none;
    position: absolute;
    overflow: auto;
    background-color: var(--color-bg-lighter);
    padding: 16px;
}

.header__dropdown:hover .header__dropdown-menu {
    display: inline-block;
}

.header__dropdown-menu a {
    color: var(--color-text-main);
    text-decoration: none;
}

.header__dropdown-menu li + li {
    padding-top: 16px;
}

.header__dropdown-menu a:hover {
    color: var(--color-text-main-dark);
}

.header__user-icon {
    content: "";
    display: block;
    height: 32px;
    width: 32px;

    background: var(--color-text-main);
    background-size: 40px 40px;

    mask-image: url("../../../img/icons/user-svg/user-minimalizm.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
}


/*hero section*/

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(87, 71, 58)), url("../../../img/products/home.png");
    background-size: cover;
    background-position: center;
    height: calc(100vh - (80px + 24px));

    color: var(--color-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 64px;
}

.hero__title {
    font-family: Ardeco, serif;
    font-size: 96px;
    font-weight: lighter;
}

.hero__description {
    align-self: end;
    max-width: calc(100vw / 2);
    text-align: right;
    font-size: 20px;
}

/*about section*/

.about {
    display: grid;
    grid-template-areas:
      "quote img"
      "link img";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto max-content;
    column-gap: 4rem;
    row-gap: 32px;
}

.about__quote {
    font-size: 1.1rem;
    align-self: center;
}

.about__quote-author {
    margin-top: 24px;
    font-size: 2rem;
    font-weight: lighter;
    text-transform: uppercase;
}

.about__quote-author span {
    font-size: 1rem;
}

.about__photo {
    max-width: 100%;
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 2;
    align-self: center;
}

.link {
    display: inline-block;
    color: var(--color-text-main);
    text-decoration: none;
    font-size: 1.8rem;
    padding: 16px 64px;

    border: 1px solid;
    border-radius: 50px;

    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.link:hover {
    background-color: var(--color-bg-teal);
}

.about__link {
    justify-self: start;
    align-self: end;
}


.invitation {
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(87, 71, 58)), url("../../../img/products/home.png");
    background-size: cover;
    background-position: bottom;
    color: var(--color-bg);
    font-size: 64px;
    text-align: center;
}

.invitation p + p {
    margin-top: 64px;
}

.invitation__address {
    font-size: 2rem;
}

.invitation__address a {
    color: var(--color-bg);
    text-decoration: none;
}

.invitation__address a:hover {
    text-decoration: underline;
}

.invitation__link {
    color: var(--color-bg);
    margin-top: 96px;
}


/*services*/

.services {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
    background-color: var(--color-bg-lighter);
}

.services__card {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.services__card img {
    position: relative;
    max-width: none;
    min-height: 100%;
    width: calc(100% + 30px);
    opacity: 0.85;

    transform: translate3d(-30px, 0, 0);
    transition: opacity 0.35s, transform 0.35s;
}

.services__card figcaption {
    text-align: left;
    color: var(--color-text-main);
}

.services__card p {
    margin-top: 16px;
}

.services__card figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, var(--color-bg-op) 75%);
    content: '';
    opacity: 0;
}


.services__card figcaption > div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem;
    width: 100%;
    height: 50%;
}

.services__card h2,
.services__card p {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
}

.services__card h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.services__card p {
    font-size: 0.9rem;
    transition: opacity 0.2s, transform 0.35s;
}

.services__card a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    font-size: 0;
}

.services__card:hover img,
.services__card:hover h2,
.services__card:hover p,
.services__card:hover figcaption::before {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.35s;
}


/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-bg-dark);
    color: var(--color-logo);
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer__contacts li + li {
    padding-top: 1rem;
}

.footer__contact-link {
    color: var(--color-logo);
    text-decoration: none;
}

.footer__contact-link:hover {
    text-decoration: underline;
}
